html, body {
  font-family: Roboto, Trebuchet, Arial, sans-serif;
  font-weight: 300; 
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: radial-gradient(#36F21D, #222);
}

#tank {
  width: 1000%;
  color: #36F21D;
}

.tempHumidityContainer {
  position: absolute;
  background: #222;
  border-bottom: 1px solid #145F0A;
  border-right: 1px solid #145F0A;
  border-radius: 0 5em 5em 0;
  padding-bottom: .75em;
  padding-right: 2em;
}

.rangeContainer {
  padding: .5em;
}

.rangeTitle {
  display: inline-block;
  width: 1em;
  font-size: 2.25em;
  float: left;
  color: #888;
}

.rangeBar {
  display: inline-block;
  width: 30.25em;
  height: 3em;
}

.redBlueFullRange {
  background: -webkit-linear-gradient(left, red, #36F21D, blue);
  background: -o-linear-gradient(right, red, #36F21D, blue); 
  background: -moz-linear-gradient(right, red, #36F21D, blue); 
  background: linear-gradient(to right, red, #36F21D, blue); 
}

.redBlueRange {
  background: -webkit-linear-gradient(left, red, blue);
  background: -o-linear-gradient(right, red, blue); 
  background: -moz-linear-gradient(right, red, blue); 
  background: linear-gradient(to right, red , blue); 
}

.blueRedFullRange {
  background: -webkit-linear-gradient(left, blue, #36F21D, red);
  background: -o-linear-gradient(right, blue, #36F21D, red);
  background: -moz-linear-gradient(right,blue, #36F21D, red);
  background: linear-gradient(to right, blue, #36F21D, red);
}

.blueRedRange {
  background: -webkit-linear-gradient(left, blue, red);
  background: -o-linear-gradient(right, blue, red); 
  background: -moz-linear-gradient(right, blue, red); 
  background: linear-gradient(to right,  blue, red); 
}

.rangeTick {
  display: inline-block;
  width: 3px;
  height: 1.1em;
  background: rgba(0,0,0,0);
  border: 1em solid #222;
  border-left: .25em solid #222;
  border-right: .25em solid #222;
  float: left;
}

.rangeTickMed {
  height: 1.5em;
  border-top: .6em solid #222;
}

.rangeTickLarge {
  height: 2em;
  border-top: 0 solid #222;
}

.rangeTickValue {
  font-size: 1.75em;
  position: absolute;
  margin-top: 1em;
  width: 1.25em;
  background: #222;
  text-align: center;
  margin-left: -.55em;
  color: #888;
}

/* STATUS BAR */

#statusBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  float: bottom;
  background: #222;
  color: #36F21D;
  border-top: 1px solid #145F0A;
}

.statusBarItem {
  height: 12em;
  padding: 1em;
  text-align: center;
}

.statusBarBlock {
  width: 12em;
}

.statusBarRight {
  float: right;
  border-left: 1px solid #145F0A;
} 

.statusBarLeft {
  float: left;
  border-right: 1px solid #145F0A;
}

.statusBarItemTitle {
  font-size: 1.75em;
}

.statusBarItemBody {
  padding-top: 10px;
  font-size: 5em;
}

.statusBarItemToggleable {
  height: .5em;
}

.statusBarItemFooter {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  width: 8em;
  color: #145F0A;
}

.statusBarCenter {
  overflow: hidden;
  text-align: center;
}

#timeHourMinutes {
  font-size: 10em;
  display: inline-block;
}

#timeSeconds {
  font-size: 4em;
  display: inline-block;
}

#tempContainer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 12em;
}

#weatherIcon {
  width: 10em;
  margin-top: -2em;
}

.weatherTemp {
  display: inline-block;
}

.middleWeatherTemp {
  font-size: 6em;
  overflow: hidden;
  height: 1.2em;
}

.sideWeatherTemp {
  font-size: 2em;
  color: #145F0A;
  vertical-align: bottom;
}

/* On/Off switch Begin
 * Source: http://proto.io/freebies/onoff/ */

.onoffswitch {
  text-align: left;
  position: relative; 
  width: 119px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 2px solid #AAAAAA; 
  border-radius: 50px;
}
.onoffswitch-inner {
  width: 200%; 
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; 
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; 
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; 
  width: 50%; 
  height: 42px; 
  padding: 0; 
  line-height: 42px;
  font-size: 23px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 16px;
  background-color: #36F21D; 
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 16px;
  background-color: #E31616; 
  color: #F5F5F5;
  text-align: right;
}
.onoffswitch-switch {
  width: 31px; 
  margin: 5.5px;
  background: #FFFFFF;
  border: 2px solid #AAAAAA; 
  border-radius: 50px;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 73px;
  -moz-transition: all 0.3s ease-in 0s; 
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; 
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

/* On/Off switch Begin */
